footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-wrapper{
  max-width: 96%;
  margin: 0 auto 40px;
  flex: 0 1 1100px;
  box-sizing: border-box;
  padding: 40px;
  background: $opacityCharcoal;
  height: auto;
  p{
    color: #e0e0e0;
    font-weight: 500;
    font-size: 16px;
  }
}
